<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-dark">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-275"></span>
        <span class="span-350"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <span class="span-50"></span>
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/logo-sola.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Beautiful apartaments in quiet neighbourhood. Come, visit, experience
                yourself...</p>
              <!-- <div class="btn-wrapper mt-5">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header"
                  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
                <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header"
                  class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span>
                </a>
              </div> -->
              <!-- <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-square-pin"></i>
            </div>
            <h3>Well located</h3>
            <p>Our apartaments are located right by the river bed. Very relaxing surroundings make it really special...
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-shop"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Square Town 1km</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">ENERGYLADIA 30min drive</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-delivery-fast"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Airport shuttles*</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <app-sections></app-sections> -->
</main>